.toggle-password__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    color: #717c8f8c;
    padding-right: 8px;
    position: relative;
    overflow: hidden;
    margin-left: -30px;
}