.auth-signup__wrapper {
    padding: 20px 0px 0px 40px;
}

.auth-signup__wrapper .navbar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
}

.auth-signup__wrapper .navbar__logo {
    margin-right: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 24px;
    user-select: none;

    background: linear-gradient(to right,
            #7953cd 20%,
            #2DB67C 30%,
            #59C173 70%,
            #764ada 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-fill-color: transparent; */
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

.signup__wrapper {
    margin-left: 150px;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.signup {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 30px;
}

.signup__wrapper input {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-width: 0px 0px 1px 0px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 0px;
    /* margin-bottom: 20px; */
    box-sizing: border-box;
    outline: none;
}

.signup__wrapper label{
    display: block;
    margin-bottom: 30px;
}

.signup__wrapper input:focus {
    border-color: #2DB67C;
}

.info__validation{
    font-size: 12px;
    color: #ff000b;
    margin-top: 5px;
    margin-bottom: 20px;
}

.signup__wrapper .signup-submit__button {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter';
    color: #2DB67C;
    border: none;
    border-radius: 4px;
    width: 100%;
    background-color: transparent;
    margin-top: 30px;
    border: solid 1px #2DB67C;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.toggle-password__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    color: #717c8f8c;
    padding-right: 8px;
    position: relative;
    overflow: hidden;
    margin-left: -30px;
}

.signup__wrapper form {
    padding-top: 30px;
}

.signup__wrapper .signup-submit__button:hover {
    -moz-box-shadow: inset 0 0 0px 1px #2DB67C;
    -webkit-box-shadow: inset 0 0 0px 1px #2DB67C;
    box-shadow: inset 0 0 0px 1px #2DB67C;
}

.login-link__wrapper {
    display: flex;
    margin-top: 20px;
}

.login-link__wrapper p {
    font-size: 14px;
}

.login-link__wrapper a {
    font-size: 14px;
    color: #2DB67C;
    text-decoration: none;
    margin-left: 5px;
}

.error-message__wrapper {
    display: flex;
    max-width: 400px;
    background-color: #ffdce0;
    border: 1px solid rgb(255, 128, 128);
    border-radius: 4px;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
}

.error-message__wrapper button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(233 64 64);;
    outline: none;
    font-size: 16px;
    padding: 12px;
    position: relative;
    overflow: hidden;
    margin-left: -30px;
}

.error-message {
    margin: 0px;
    padding: 10px;
    color: rgb(233 64 64);
    font-size: 14px;
}

@media (max-width: 768px) {
    
    .signup__wrapper {
        margin-left: 0px;
    }

    .auth-signup__wrapper{
        padding: 24px;
    }
    
    .login-link__wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}