.user-options__wrapper {
    position: absolute;
    top: 60px;
    right: 50px;
    z-index: 100;
    height: 160px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #0000001a;
    overflow: hidden;
}

.user-options__icon {
    color: #C0C6D0;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
    cursor: pointer;
}

.user-options__body {
    width: 240px;
}

.user-options__icon:hover {
    color: #b2b8c3;
}

.user-options__icon .activated {
    color: #2DB67C;
}

.user-options__body__item {
    font-size: 16px;
    color: #898989;
    padding: 15px;
}

.user-options__body__item__content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-options__body__item__content__message {
    padding: 0 0 0 10px;
    margin: 0;
}

.user-options__body__item__content__time p {
    margin: 0;
    padding: 0;
}

.user-options__body__item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.user-options__body__item__user-info {
    display: none;
}

.user-options__user-section img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-options__user-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hide {
    width: 0px;
}

.user-options__body__item__user-orders{
    display: none;
}

.close__user-option__btn{
    display: none;
}

@media screen and (max-width: 768px) {
    .user-options__wrapper {
        height: 100%;
        /* 100% Full-height */
        width: 250px;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        /* Stay at the top */
        right: 0;
        background-color: #2DB67C;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: width 0.5s ease;
        /* 0.5 second transition effect to slide in the sidenav */
    }

    .hide {
        width: 0px;
    }

    .user-options__body__item {
        color: #fff;
        padding: 15px 32px;
    }

    .user-options__body__item:hover {
        background-color: #2DB67C;
    }

    .user-options__body__item__user-info {
        display: block;
    }

    .user-options__body__item__user-orders{
        display: block;
    }

    .close__user-option__btn{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 25px;
        color: white;
    }
}