.categories {
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: 'Ubuntu', sans-serif;
}

.categories ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.categories li {
    margin-right: 35px;
    font-family: 'Ubuntu', sans-serif;
    color: #9CA4B1;
    font-size: 18px;
    user-select: none;
}

.categories li:hover {
    cursor: pointer;
}

.categories .active {
    /* color: #2DB67C; */
}

.categories li a {
    text-decoration: none !important;
    border-bottom: none !important;
    font-family: 'Inter', sans-serif;
    display: block;
    position: relative;
    padding: 0.2em 0;
    /* color: #2DB67C; */
    overflow: hidden;
}

.categories li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.13em;
    background-color: #2DB67C;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

.active-link{
    color: #2DB67C;
}

.inactive-link{
    color: #9CA4B1;
}

.categories li a.active-link::after{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}